@import '../../styles/colors.scss';
@import '../../styles/buttons.scss';

* {
  box-sizing: border-box;
}

.cool-chip-check-in {
  max-width: 100%;
  margin: 7%;
  display: grid;
  grid-template-rows: [nav] auto [body] auto [pagination] auto;
  grid-template-columns: [logo] 1fr [search] 1fr [registration] 1fr;
  border: 1px solid $color-slate-65;
  padding: 30px;
}
