@import '../../styles/colors.scss';

.registration-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  grid-template-rows: auto [content] 500px auto;
  grid-template-columns: auto [content] 80vh auto;

  &--open {
    display: grid;
  }
}

.registration-modal__backdrop {
  background-color: $color-slate-100;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
}

.registration-modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: 0;
  height: 50px;
  width: 50px;
  padding: 0;
  cursor: pointer;
  color: $color-brand;
}

.registration-modal__content {
  background-color: $color-white;
  grid-column: content;
  grid-row: content;
  z-index: 1;
  padding: 100px 50px;
  position: relative;

  label {
    padding-top: 20px;
  }

  input,
  textarea {
    padding: 10px;
    border-radius: 4px;
    border: 2px solid $color-slate-65;
  }
}

.registration-modal__header {
  font-weight: 400;
}

.registration-modal__form {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: auto;
}

.registration-modal__btn-container {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
}
